body {
    font-family: 'Mystery Quest', cursive;
    color: Black;
    font-weight: bold;
    background-color: #e2e2e2;
}

.c9___highlighter {
    display: none;
}
/* Head of page---------------------------------*/
.navbar {
    border: none;
    margin: 0;
    background-color: #e2e2e2;
    font-weight: bolder;
}

.navlinkcolor {
    color: #c59f9f;
}

.navbar-brand {
    padding: 0;
}

#logo {
    width: auto;
    height: 50px;
}
/*Main section--------------------------------*/

#mainphoto1 {
    background-image: url("photos/wedding-cake.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 550px;
    height: 500px;
    width: 100vw;
    position: relative;
}

#mainphoto2 {
    background-image: url("photos/unicorncake.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 550px;
    height: 500px;
    width: 100vw;
    position: relative;
}

.insidephoto1 {
    position: absolute;
    left: 70%;
    top: 10%;
    font-size: 35px;
    width: 180px;
    text-align: justify;
    opacity: 0.7;
    letter-spacing: 3px;
}

.insidephoto2 {
    position: absolute;
    font-size: 35px;
    opacity: 0.7;
    width: 180px;
    text-align: justify;
    top: 15%;
    left: 15%;
    letter-spacing: 3px;
}

#margin {
    margin-bottom: 20px;
}

#description {
    font-size: 17px;
    opacity: 0.6;
}

#logo1 {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 150px;
    width: 125px;
}

.types {
    font-size: 17px;
    margin-top: 20px;
    margin-bottom: 20px;
    opacity: 0.6;
}

.typephotos {
    height: 200px;
    width: 200px;
    position: relative;
}

.order {
    color: black;
    text-decoration: none;
    font-size: 20px;
    background-color: white;
    position: absolute;
    padding: 3px;
    top: 10%;
    left: 20%;
    opacity: 0.5;
}

.order:hover {
    color: black;
    text-decoration: none;
    opacity: 0.6;
}

.footer1 {
    background-color: #ccc8b380;
    margin-bottom: 0;
    margin-top: 15px;
    height: 25px;
}

.footer2 {
    background-color: #ccc8b3;
    height: 100px;
}

.footerlinks {
    text-decoration: none;
    color: black;
    opacity: 0.6;
    padding: 20px 10px 10px 10px;
    display: inline-block;
}

.footerlinks:hover {
    text-decoration: none;
}

.hvr-underline-from-left:hover {
    color:black;
}

.footerlast {
    opacity: 0.6;
}