body {
    font-family: 'Mystery Quest', cursive;
    color: Black;
    font-weight: bold;
    background-color: #e2e2e2;
    font-size: 16px;
}
.c9___highlighter {
    display: none;
}
/* Head of page---------------------------------*/
.navbar {
    border: none;
    margin: 0;
    background-color: #e2e2e2;
    font-weight: bolder;
    min-height: 60px;
}

.navlinkcolor {
    color: #c59f9f;
}

.navbar-brand {
    padding: 0;
}

#logo {
    width: auto;
    height: 59px;
}

#navbarsearch {
    margin: 0;
}

@media (max-width: 768px) {
        .nopad {
            display: none;
        }   
}

/*Modal-------------------------------*/
.hi {
    padding-left: 12px;
}

.modalcursor {
    cursor: pointer;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #fff;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #e2e2e2;
}

.modalinput {
    border: 1px solid #ccc;
    padding: 12px;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 16px;
    
    width: 100%;
    resize: vertical
}

.modalcontain {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}


/*Main section--------------------------------*/

#mainphoto1 {
    background-image: url("photos/wedding-cake2.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 550px;
    height: 550px;
    position: relative;
}

#mainphoto2 {
    background-image: url("photos/wedding-cake.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 550px;
    height: 550px;
    position: relative;
}

.insidephoto1 {
    position: absolute;
    left: 70%;
    top: 10%;
    font-size: 35px;
    width: 180px;
    text-align: justify;
    opacity: 0.7;
    letter-spacing: 3px;
}

.insidephoto2 {
    position: absolute;
    font-size: 35px;
    opacity: 0.7;
    width: 180px;
    text-align: justify;
    top: 15%;
    left: 15%;
    letter-spacing: 3px;
}

@media (max-width: 768px) {
    .insidephoto1 {
        font-size: 15px;
        width: 100px;
    }
    
    .insidephoto2 {
        font-size: 15px;
        width: 100px;
    }
}

#margin {
    margin-bottom: 20px;
}

#description {
    font-size: 17px;
    opacity: 0.5;
}

#logo1 {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 150px;
    width: 125px;
}

.types {
    font-size: 17px;
    margin-top: 20px;
    margin-bottom: 20px;
    opacity: 0.5;
}

.typephotos {
    height: 200px;
    width: 200px;
    position: relative;
    margin: 0 auto;
    border-radius: 5px;
}

@media (max-width: 1199px) {
    .typephotos {
        margin-bottom: 10px;
    }
}

.wedding1 {
    background-image: url("photos/wedding1.jpg");
    background-size: cover;
}

.wedding2 {
    background-image: url("photos/wedding2.jpg");
    background-size: cover;
}

.wedding3 {
    background-image: url("photos/wedding3.jpg");
    background-size: cover;
}

.lisa11 {
    background-image: url("photos/lisa11.jpg");
    background-size: cover;
}

.lisa2 {
    background-image: url("photos/lisa2.jpg");
    background-size: cover;
}

.lisa6 {
    background-image: url("photos/lisa6.jpg");
    background-size: cover;
}

.lisa7 {
    background-image: url("photos/lisa7.jpg");
    background-size: cover;
}

.lisa1 {
    background-image: url("photos/lisa1.jpg");
    background-size: cover;
}

.cup3 {
    background-image: url("photos/cup3.jpg");
    background-size: cover;
}

.cup2 {
    background-image: url("photos/cup2.jpg");
    background-size: cover;
}

.lisa4 {
    background-image: url("photos/lisa4.jpg");
    background-size: cover;
}

.lisa10 {
    background-image: url("photos/lisa10.jpg");
    background-size: cover;
}

.reg2 {
    background-image: url("photos/reg2.png");
    background-size: cover;
}

.lisa3 {
    background-image: url("photos/lisa3.jpg");
    background-size: cover;
}

.reg1 {
    background-image: url("photos/reg1.png");
    background-size: cover;
}

.lisa8 {
    background-image: url("photos/lisa8.jpg");
    background-size: cover;
}

.order {
    border-radius: 3px;
    color: black;
    text-decoration: none;
    font-size: 20px;
    background-color: white;
    position: absolute;
    padding: 3px;
    top: 8%;
    left: 10%;
    opacity: 0.5;
}

.order:hover {
    color: black;
    text-decoration: none;
    opacity: 0.6;
}

/*footer -------------------------------------*/

.footer1 {
    background-color: #ccc8b380;
    margin-bottom: 0;
    margin-top: 15px;
    height: 25px;
}

.footer2 {
    background-color: #ccc8b3;
    height: 125px;
}

@media (max-width: 425px) {
    .footer2 {
        height: 175px;
    }
}

.footerlinks {
    text-decoration: none;
    color: black;
    opacity: 0.5;
    padding: 20px 10px 10px 10px;
    display: inline-block;
}

.footerlinks:visited {
    text-decoration: none;
    border: none;
    color: black;
    opacity: 1;
}

.footerlinks:hover {
    text-decoration: none;
    border: none;
    color: black;
    opacity: 1;
}

.footerlinks:active {
    text-decoration: none;
    border: none;
    color: black;
    opacity: 1;
}

.footerlinks:focus {
    text-decoration: none;
    border: none;
    color: black;
    opacity: 1;
    outline: none;
}
.footerlinks:after {
    text-decoration: none;
    border: none;
    color: black;
    opacity: 1;
}

.hvr-underline-from-left:hover {
    color:black;
}

.footerlast {
    opacity: 0.5;
}

.hvr-underline-from-left:before {
    background: black;
    opacity: 0.5;
}

#footerlastpadding {
    padding-top: 5px;
}