body {
    font-family: 'Mystery Quest', cursive;
    color: Black;
    font-weight: bold;
    background-color: #e2e2e2;
}

.c9___highlighter {
    display: none;
}
/* Head of page---------------------------------*/
.navbar {
    border: none;
    margin: 0;
    background-color: #e2e2e2;
    font-weight: bolder;
}

.navbar-brand {
    padding: 0;
}

#logo {
    width: auto;
    height: 50px;
}
/*Main section--------------------------------*/

#mainphoto1 {
    background-image: url("photos/wedding-cake.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 550px;
    height: 500px;
    width: 100vw;
    position: relative;
}

#mainphoto2 {
    background-image: url("photos/unicorncake.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 550px;
    height: 500px;
    width: 100vw;
    position: relative;
}

.insidephoto1 {
    position: absolute;
    left: 70%;
    top: 10%;
    font-size: 35px;
    width: 180px;
    text-align: justify;
    opacity: 0.7;
}

.insidephoto2 {
    position: absolute;
    font-size: 35px;
    opacity: 0.7;
    width: 180px;
    text-align: justify;
    top: 15%;
    left: 15%;
}

#margin {
    margin-bottom: 20px;
}

#description {
    font-size: 17px;
}

#logo1 {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 150px;
    width: 125px;
}

.types {
    font-size: 17px;
    margin-top: 20px;
}

.typephotos {
    height: 250px;
    width: 250px;
}